*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.isactive{
color: yellow;
}

.notactive{
  color: #333;
}

.starrating_child{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.starrating{
 background-color: rgb(11, 158, 237);
  background-repeat: no-repeat;
  background-size: cover;
}

.star{
  padding: 20px 10px;
  background-color:rgb(255,255,255,0.1);
  border: 3px solid rgb(255,255,255,0.1) ;
}